.logout-btn {
  display: block;
  padding: 12px 15px;
  margin-top: 15px;
  text-align: center;
  background: #ff4d4d;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.3s;
}

.logout-btn:hover {
  background: #e60000;
  color: #fff;
  transform: translateY(-2px);
}
