  <link rel="stylesheet" href="/admin/css/admin.css">
  
  <div class="sidebar">
    <h2>Dashboard</h2>

    <div class="menu">
      <a href="/admin/profile">Profile Info</a>
      <a href="projects">Projects</a>
      <a href="#">Experiences</a>
      <a class="logout-btn" href="/admin/logout">Log out</a>
    </div>
  </div>