  <link rel="stylesheet" href="/admin/css/admin.css">
  
  <div class="sidebar">
    <h2>Dashboard</h2>

    <div class="menu">
      <a href="/admin/profile">Profile Info</a>
      <a href="/admin/skills">My Skills</a>
      <a href="/admin/portfolio">Projects</a>
      <a href="/admin/experiences">My Experiences</a>
      <a href="/admin/settings">Settings</a>
      <a class="logout-btn" href="/admin/logout">Log out</a>
    </div>
  </div>